@charset "utf-8";
/* CSS Document */

#banner{
	border: none;
	box-shadow: none;
	margin: 0px auto;
	padding: 5px;
}

#banner #banner_img {
	margin: 0px auto;
	padding: 5px;
	display: block;
	width: 55%;
	border: 5px double #4682B4;
}

#banner a {
	border: 1px solid #4682B4;
	background-color: #f0f9fd;
	padding: 8px;
	text-decoration: none;
	font-weight: bold;
	color: #4682B4;
	border-radius: 5px;
}

#banner a:hover {
	border: solid 1px #333;
	text-decoration: underline;
	background-color: #4682B4;
	color: #FFF;
}

#banner a.hover {
	background-color: #4682B4;
	color: #FFF;
}
	
#botoes {
	width: 55%;
	text-align: right;
	padding-top: 7px;
	box-shadow: none;
	margin: 0px auto;
	border: none;
}